In [1]:
import pandas as pd;
import numpy as np;

In [1]:
years_list = [
    "2016",
    "2017",
    "2018",
    "2019",
    "2020",
    "2021",
    "2022",
    "2023",
]

In [34]:
import pandas as pd

df = pd.read_csv("sources/valeurs_trimestrielles.csv", sep=';')

# Modify to get columns containing "- T"
selected_columns = [col for col in df.columns if col.startswith('Libell√©') or '-T' in col]

df_clean = df[selected_columns]

# Filtering out rows starting with 'Codes' in 'Libell√©' column
df_clean = df_clean[~df_clean['Libell√©'].str.startswith('Codes')]

# Modifying the first column values
df_clean.iloc[:, 0] = df_clean.iloc[:, 0].apply(lambda x: x.replace('Taux de ch√¥mage localis√© par d√©partement - ', ''))

# Further filtering out rows starting with 'Taux de ch√¥mage' in 'Libell√©' column
df_clean = df_clean[~df_clean['Libell√©'].str.startswith('Taux de ch√¥mage')]

# Saving the DataFrame to CSV without index
df_clean.to_csv("output/res.csv", index=False)

df_clean

,Libell√©,1982-T1,1982-T2,1982-T3,1982-T4,1983-T1,1983-T2,1983-T3,1983-T4,1984-T1,...,2021-T2,2021-T3,2021-T4,2022-T1,2022-T2,2022-T3,2022-T4,2023-T1,2023-T2,2023-T3
30,Aveyron,5.2,5.3,5.5,5.5,5.6,5.6,5.7,6.0,6.2,...,6.1,6.1,5.7,5.6,5.8,5.7,5.6,5.6,5.7,5.8
32,Ain,3.8,3.9,4.0,4.1,4.2,4.2,4.4,4.6,4.9,...,6.0,6.0,5.6,5.5,5.5,5.4,5.4,5.3,5.4,5.7
34,Aisne,8.3,8.4,8.6,8.5,8.5,8.5,8.8,9.2,9.7,...,10.9,11.2,10.6,10.5,10.5,10.3,10.2,10.3,10.3,10.6
36,Allier,7.3,7.5,7.7,7.7,7.7,7.7,7.8,8.4,9.3,...,8.2,8.2,7.8,7.7,7.7,7.6,7.5,7.5,7.7,7.9
38,Alpes-de-Haute-Provence,5.5,5.6,5.8,6.0,6.1,6.1,6.3,6.6,6.8,...,9.1,8.7,8.3,8.2,8.3,8.3,8.1,8.0,8.0,8.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Hauts-de-Seine,5.1,5.0,5.1,5.1,5.0,5.0,5.1,5.3,5.6,...,6.6,6.6,6.2,6.1,6.0,5.8,5.8,5.6,5.7,5.9
214,Seine-Saint-Denis,6.9,7.0,7.2,7.1,6.9,6.9,7.0,7.3,7.6,...,10.9,11.0,10.5,10.4,10.3,10.1,10.1,9.9,10.1,10.4
216,Val-de-Marne,5.6,5.7,5.7,5.6,5.4,5.4,5.5,5.8,6.1,...,7.7,7.7,7.4,7.3,7.2,7.1,7.1,6.9,7.0,7.2
218,Val-d'Oise,5.3,5.4,5.5,5.5,5.6,5.6,5.6,5.9,6.2,...,8.7,8.8,8.3,8.2,8.2,7.9,8.0,7.8,7.9,8.1
220,Var,7.9,8.0,8.3,8.6,8.7,8.9,8.8,9.2,9.8,...,8.4,8.1,7.6,7.5,7.4,7.4,7.2,7.2,7.2,7.5

In [32]:
grouped_columns = df_clean.groupby(lambda x: x.split('-')[0], axis=1)

df_avg = grouped_columns.apply(lambda x: x.mean(axis=1))

df_avg

,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Libell√©
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df = df_clean.melt(id_vars=["Libell√©"], var_name="Quarter", value_name="Value")

df['Year'] = df['Quarter'].str.split('-').str[0]

df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

df_grouped = df.groupby(['Libell√©', 'Year'])['Value'].mean().reset_index()

df_pivoted = df_grouped.pivot(index='Libell√©', columns='Year', values='Value').reset_index()

print(df_pivoted)
df_pivoted.round(2).to_csv("res.csv")

Year                  Libell√©   1982   1983    1984    1985    1986    1987  \
0                         Ain  3.950  4.350   5.225   5.475   5.375   5.325
1                       Aisne  8.450  8.750  10.225  10.475  10.450  10.500
2                      Allier  7.550  7.900  10.200  10.600  10.775  10.950
3             Alpes-Maritimes  8.875  9.375   9.750   9.775   9.150   8.700
4     Alpes-de-Haute-Provence  5.725  6.275   7.100   7.600   7.475   7.125
..                        ...    ...    ...     ...     ...     ...     ...
91                     Vend√©e  5.925  6.475   7.850   8.550   8.350   8.375
92                     Vienne  7.575  8.125   9.725   9.900   9.625   9.400
93                     Vosges  7.075  7.350   9.000   9.350   9.600   9.600
94                      Yonne  6.775  7.125   8.575   8.450   8.375   8.575
95                   Yvelines  4.000  3.925   4.675   5.300   5.175   5.350

Year    1988    1989    1990  ...    2014    2015    2016    2017    2018  \
0      4.925   4.350   4.050  ...   7.075   7.350   7.350   6.750   6.300
1     10.225   9.350   8.775  ...  13.875  13.875  13.625  13.000  12.400
2     10.575  10.050  10.250  ...  10.275  10.575  10.375   9.675   9.350
3      8.225   7.500   7.625  ...  10.300  10.500  10.325   9.825   9.350
4      6.900   6.700   7.200  ...  11.225  11.325  11.050  10.700  10.425
..       ...     ...     ...  ...     ...     ...     ...     ...     ...
91     7.775   6.975   6.550  ...   8.400   8.425   7.850   7.125   6.700
92     8.850   8.200   7.550  ...   8.375   8.550   8.400   7.625   7.375
93     8.925   8.375   7.900  ...  11.700  11.725  10.975   9.975   9.400
94     7.975   7.125   6.725  ...   9.725   9.875   9.575   8.725   8.225
95     5.150   4.650   4.375  ...   7.350   7.450   7.400   7.000   6.875

Year    2019    2020    2021    2022       2023
0      6.050   6.075   5.950   5.450   5.466667
1     11.675  10.950  10.950  10.375  10.400000
2      8.900   8.475   8.150   7.625   7.700000
3      8.725   8.775   8.575   7.375   7.033333
4      9.750   9.100   8.825   8.225   8.100000
..       ...     ...     ...     ...        ...
91     6.450   6.450   5.825   5.200   5.066667
92     6.850   6.550   6.375   5.875   5.933333
93     8.900   8.375   8.025   7.450   7.666667
94     7.800   7.225   7.025   6.700   6.866667
95     6.475   6.425   6.700   6.425   6.333333

[96 rows x 43 columns]

In [ ]:
df = pd.read_csv('res.csv')

restructured_data = []

for index, row in df.iterrows():
    department = row['D√©partement']
    for year in range(2016, 2024):
        unemployment_rate = row[str(year)]
        restructured_data.append({'D√©partement': department, 'Ann√©e': year, 'Taux de ch√¥mage': unemployment_rate})

restructured_df = pd.DataFrame(restructured_data)

restructured_df.to_csv('output/chomage.csv', index=False)